<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="insightSettings" type="ReflectSoftware.Insight.ConfigurationHandler, ReflectSoftware.Insight" />
  </configSections>

  <insightSettings>
    <baseSettings>
      <configChange enabled="true" />
      <enable state="all" />
      <propagateException enabled="false" />
      <global category="ReflectInsight" />      
      <exceptionEventTracker time="20" />
      <debugMessageProcess enabled="true" />      
    </baseSettings>

    <messagePatterns>
      <messagePattern name="pattern1" pattern="[%time{yyyyMMdd, HH:mm:ss.fff}%][%threadid%][%messagetype%] - %message%" />
    </messagePatterns>

    <listenerGroups active="Demo">
      <group name="Demo" enabled="true" maskIdentities="false">
        <destinations>
          <destination name="Viewer" enabled="true" filter="" details="Viewer" />
          <destination name="TextFile" enabled="true" filter="Filter1" details="TextFile[path=c:\RILogs\Demo1.txt;messageDetails=Message|Details; messagePattern=pattern1]" />
        </destinations>
      </group>
    </listenerGroups>

    <logManager default="Demo">
      <instance name="Demo" category="Demo" />
      <instance name="Backorder" category="Backorder" />
      <instance name="Miscellaneous" category="Miscellaneous" />
    </logManager>

    <exceptionManagement mode="on">
      <publisher mode="on" name="LogTextEventPublisher" type="RI.Utils.ExceptionManagement.ExceptionLogTextFilePublisher, ReflectSoftware.Insight" filePath="$(workingdir)\Logs\ri_exceptions.txt" recycle="7" />
      <publisher mode="off" name="EventPublisher" type="RI.Utils.ExceptionManagement.ExceptionEventPublisher, ReflectSoftware.Insight" applicationName="ReflectInsight" />
    </exceptionManagement>

    <filters>
      <filter name="Filter1" mode="Exclude">
        <method type="SendImage" />
        <method type="SendStream" />
        <method type="SendCustomData" />
      </filter>

    </filters>

  </insightSettings>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>