<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <insightSettings>
    <baseSettings>
      <configChange enabled="true" />
      <propagateException enabled="false" />
      <exceptionEventTracker time="20" />
      <debugMessageProcess enabled="true" />      
    </baseSettings>

    <logManager default="Demo">
      <instance name="Demo" category="Demo" />
      <instance name="WebApi" category="WebApi" />
      <instance name="Business" category="Business" />
      <instance name="DataAccess" category="DataAccess" />
    </logManager>

    <exceptionManagement mode="on">
      <publisher mode="on" 
                 name="LogTextEventPublisher" 
                 type="RI.Utils.ExceptionManagement.ExceptionLogTextFilePublisher, ReflectSoftware.Insight" 
                 filePath="$(workingdir)\Logs\ri_exceptions.txt" 
                 recycle="7" />
      
      <publisher mode="off" 
                 name="EventPublisher" 
                 type="RI.Utils.ExceptionManagement.ExceptionEventPublisher, ReflectSoftware.Insight" 
                 applicationName="ReflectInsight" />
    </exceptionManagement>


  </insightSettings>  
</configuration>