<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="insightSettings" type="ReflectSoftware.Insight.ConfigurationHandler, ReflectSoftware.Insight" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common" requirePermission="true" />
  </configSections>

  <insightSettings externalConfigSource="ReflectInsight.config" />

  <log4net debug="false">
    <appender name="MyLogAppender1" type="ReflectSoftware.Insight.Extensions.Log4net.LogAppender, ReflectSoftware.Insight.Extensions.Log4net">
      <param name="InstanceName" value="WebApi" />
      <param name="DisplayLevel" value="true" />
      <param name="DisplayLocation" value="true" />
    </appender>
    <root>
      <appender-ref ref="MyLogAppender1" />
    </root>
  </log4net>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- In order to receive location information, you must ensure the layout has the parameter ${callsite} and all 
    its properties set accordantly. -->
    <extensions>
      <add assembly="ReflectSoftware.Insight.Extensions.NLog" />
    </extensions>
    <targets>
      <target name="ReflectInsight" 
              xsi:type="ReflectInsight" 
              instanceName="Business" 
              displayLevel="true" 
              displayLocation="true" 
              layout="${callsite:className=true:fileName=true:includeSourcePath=true:methodName=true}" />
    </targets>
    <rules>
      <logger name="*" minlevel="TRACE" writeTo="ReflectInsight" />
    </rules>
  </nlog>

  <enterpriseLibrary.ConfigurationSource selectedSource="External Source">
    <sources>
      <add name="External Source" 
           type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common" 
           filePath="EntLib.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>